SERVER_ADDRESS=
PORT=
DB_USERNAME=
DB_PASSWORD=
DB_PORT=
DB_NAME=
APP_ENV = 

## Google Credentials ##
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_STATE_STRING=
GOOGLE_CALENDAR_API_KEY=

## Redis Pool Connection ##
REDIS_POOL_URI=
REDIS_POOL_PASSWORD=""
REDIS_POOL_DB=0
REDIS_POOL_MAX_ACTIVE=10
REDIS_POOL_DIAL_TIMEOUT="5s"
REDIS_POOL_READ_TIMEOUT="5s"
REDIS_POOL_WRITE_TIMEOUT="5s"
REDIS_POOL_IDLE_TIMEOUT="10s"
REDIS_POOL_MAX_CONN_AGE="10s"

## Wavecell SMS Client
SMS_API_URL=
SMS_API_KEY=